<!-- <div class="content">
    <app-navbar></app-navbar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item ">{{pageTitle}}</li>
            </ol>
        </nav>
        <div class="container-fluid pt-2 px-4">
            <h3 class="text-black pb-2">{{pageTitle}}</h3>
            <form [formGroup]="userform" action="" name="myForm" (ngSubmit)="OnSubmit()">
                <div class="form-floating mb-4">
                    <h3 class="col-md-2">Name</h3>
                    <input type="text" class="form-control" name="name" [(ngModel)]="user.fullName"
                        formControlName="fullname" required maxlength="25" minlength="3"
                        pattern="(^(?!.*([A-Za-z])\2{2})\w[a-zA-Z\s]*$)">
                    <label for="floatingText">Cost Model Name*</label>
                    
        </div>
        <div class="form-floating mb-4">
            <input type="email" [(ngModel)]="user.email" formControlName="email" class="form-control" name="email"
                required required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <label for="floatingInput">Cost Model Description*</label>
           
    </div>
    
<button type="submit" class="btn btn-dark pe-4 px-4 mt-4 hover" [disabled]="userform.pristine">ADD</button>
</form>
</div>
</div>

</div> -->
<div class="content">
    <app-navbar></app-navbar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item ">{{pageTitle}}</li>
            </ol>
        </nav>
        <div class="container-fluid pt-2 px-4">
            <h3 class="text-black pb-2">{{pageTitle}}</h3></div>

<div class="row">
    <div class="col-xs-12 " style="padding-left: 40px;">
      <form>
        <!-- <div class="row"> -->
          <div class="col-sm-8 form-group">
            <label for="courseName">Cost Model Name</label>
            <input
              type="text"
              id="courseName"
              class="form-control">
          </div>
          <div class="col-sm-8 form-group">
            <label for="courseDesc">Cost Model Description</label>
            <input
              type="text"
              id="courseDesc"
              class="form-control">
          </div>
         
        <!-- </div> -->
        <div class="row pt-5 ">
          <div class="col-xs-12">
            <button
              class="btn btn-dark pe-4 px-4 hover"
              type="submit">Add</button>
            <!-- <button
              class="btn btn-danger"
              type="button">Delete</button> -->
              <!-- <div style="padding-left: 200px;"></div> -->
            <!-- <button class="btn btn-primary padding-left"  type="button">Clear</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>